@model KrisApp.Models.Articles.ArticleDetailsModel

@{
    ViewBag.Title = Model.Title;
}

<div class="margin-top20px">
    <p> @Html.DisplayFor(model => model.TypeName)</p>
    <h2>@ViewBag.Title</h2>
    <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> @Html.DisplayFor(model => model.AddDate) | @Html.DisplayFor(model => model.Author)</p>
    <hr />
    <p>
        @Html.Raw(Model.Content)
    </p>
    <p>
        @Html.ActionLink("Powrót do listy artykułów", "List", routeValues: new { id = Model.TypeCode }, htmlAttributes: new { @class = "btn btn-sm btn-default" })
    </p>
</div>

@section Styles{
    @Styles.Render("~/Content/highlighter")
}

@section Scripts{
    @Scripts.Render("~/bundles/sunlight")

    <script type="text/javascript">
        Sunlight.highlightAll();
    </script>
}