@model KrisApp.Models.Articles.ArticleListModel

@{
    ViewBag.Title = "Lista artykułów";
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Ajax.BeginForm(actionName: "List", routeValues: null, ajaxOptions:
    new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = "articleList"
    }, htmlAttributes: new { @class = "form-inline" }))
{
    <div class="form-group">
    <input type="search" placeholder="Tytuł artykułu" class="form-control" id="titlePart" name="titlePart" data-otf-autocomplete="@Url.Action("Autocomplete")" />
    <input type="hidden" id="articleType" name="type" value="@Model.ArticleType" />
    <input type="submit" value="Wyszukaj" class="btn btn-primary" />
    </div>
}

<br />

@if (Model.IsMod.HasValue && Model.IsMod.Value == true)
{
    <p>
        @Html.ActionLink("Utwórz nowy", "CreateArticle", "Article", routeValues: null, htmlAttributes: new { @class = "btn btn-sm btn-primary" })
    </p>
}

@{ Html.RenderPartial("_ArticlesWithDetails", Model); }


@section Styles{
    @Styles.Render("~/Content/jqueryui")
}

@section Scripts{
    @Scripts.Render("~/bundles/autocomplete")
}